root {
  --highlight-area-gray: #333333;
}

.text-shadow-none {
  text-shadow: none;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page {
  background-image: url("../assets/images/background/parallax-mountain.png");
}

.login-container {
  opacity: .95;
  background-color: $body-bg;
  border-radius: 15px;

  @include media-breakpoint-up(lg) {
    width: 50%;
    left: 25%;
  }

  @include media-breakpoint-up(xl) {
    width: 40%;
    left: 30%;
  }

  @media (max-height: 659px) {
    margin-top: 15px;
  }
  @media (min-height: 660px) {
    margin-top: 10%;
  }
  padding-top: 15px
}

.login-input {
  max-width: 450px;
}
