.text-shadow-none {
  text-shadow: none;
}

.fw-40 {
  width: 40%;
  max-width: 40%;
}

.fw-20 {
  width: 20%;
  max-width: 20%;
}

.bg-body {
  background-color: $body-bg;
}

.uploadDecisionTable td {
  word-wrap: break-word;
}

.uploadDecisionTable {
  table-layout: fixed;
}

.title-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.profile-information-display dl {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.profile-information-display dl dt {
  width: 25%;
}

.profile-information-display dl dd {
  width: 75%;
}

.profile-information-display dl dt, .profile-information-display dl dd {
  margin: 0;
  padding: 0.75rem;
  border-bottom: 1px solid $secondary;
}

.queer-banner {
  color: white;
  border-top: 5px solid $primary;
  text-align: center;
  background: linear-gradient(
                  124deg,
                  #000000,
                  #784f16,
                  #fe0000,
                  #fe8c01,
                  #ffe500,
                  #11a00b,
                  #0643b3,
                  #c32ede
  );
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
  @keyframes rainbow {
    0% {
      color: white;
      background-position: 0 82%;
    }
    50% {
      color: black;
      background-position: 100% 19%;
    }
    100% {
      color: white;
      background-position: 0 82%;
    }
  }
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page {
  background-image: url("../assets/images/background/parallax-mountain.png");
}

.login-container {
  opacity: .95;
  background-color: $body-bg;
  border-radius: 15px;

  @include media-breakpoint-up(lg) {
    width: 50%;
    left: 25%;
  }

  @include media-breakpoint-up(xl) {
    width: 40%;
    left: 30%;
  }

  @media (max-height: 659px) {
    margin-top: 15px;
  }
  @media (min-height: 660px) {
    margin-top: 10%;
  }
  padding-top: 15px
}

.login-input {
  max-width: 450px;
}

/********Context Menu*********/
.fileListContextMenu {
  background-color: black;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  position: absolute;
  list-style: none;
  z-index: 1000;
}