// Override default variables before the import (see node_modules/bootstrap/scss/_variables.scss for all)
$body-bg: #25040F;
$body-color: #B9CAC8;
$blue: #1a4965;
$primary: #771A18;
$secondary: #FF6337;
$yellow: #ffc107;
$dark: black;