//read this: https://getbootstrap.com/docs/4.1/getting-started/theming

// Override default variables before the import (see node_modules/bootstrap/scss/_variables.scss for all)
$body-bg: #25040F;
$body-color: #B9CAC8;
$blue: #1a4965;
$primary: #771A18;
$secondary: #FF6337;
$yellow: #ffc107;
$dark: black;

// Import Bootstrap and its default variables


// Required
@import '~bootstrap/scss/functions';
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/list-group";

@import "helpers";
