//read this: https://getbootstrap.com/docs/4.1/getting-started/theming

// Override default variables before the import (see node_modules/bootstrap/scss/_variables.scss for all)
$body-bg: #000;
$body-color: #FFF;
$blue: #1a4965;

// Import Bootstrap and its default variables


// Required
@import '~bootstrap/scss/functions';
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/alert";

