name: Feature Branch Release

on:
  push:
    branches:
      - 'feature/**'
    paths:
      - 'src/**'
      - 'package.json'
      - 'webapp_provider/**'
      - '.github/workflows/featureRelease.yml'

jobs:
  Build_Docker_Image_on_Push:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      -
        name: Set up Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: 17
          cache: 'npm'
      -
        name: Checkout frontend
        run: |
            npm ci
      -
        name: Update Sonar
        run: |
          npm run-script sonar
        env:
          SONAR_LOGIN: ${{ secrets.SONAR_LOGIN }}
          SONAR_PASSWORD: ${{ secrets.SONAR_PASSWORD }}
      -
        name: Build frontend
        run: |
          npm run-script build
          cp -r build webapp_provider/public
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PW }}
      -
        name: Build and push
        run: |
          docker build -t filefighter/frontend:feature webapp_provider/
          docker push filefighter/frontend:feature
