name: Latest Release

on:
  push:
    branches:
      - 'master'
    paths:
      - 'webapp_frontend/**'
      - 'webapp_provider/**'
  create:
    tag: [ v*.*.* ]

jobs:
  Build_Docker_Image_on_Push:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Project
        uses: actions/checkout@v2
      -
        name: Set up Node.js environment
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 12
      -
        name: Build frontend
        run: |
          cd webapp_frontend
          npm i
          npm run-script build
          cp -r build ../webapp_provider/public
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PW }}
      -
        name: Build and push
        run: |
          docker build -t filefighter/frontend:latest webapp_provider/
          docker push filefighter/frontend:latest
