name: End-to-end tests
on:
  push:
    paths:
      - 'src/**'
      - 'cypress/**'
      - '.github/workflows/tests.yml'
      - 'package.json'
jobs:
  runTests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: 17
          cache: 'npm'
      # Install NPM dependencies, build the webpage and start it
      # and run all Cypress tests
      - name: Start FE and run jest tests
        run: |
            npm ci
            npm test -- --watchAll=false
            npm start &
      - name: Wait
        uses: iFaxity/wait-on-action@v1
        with:
          resource: http://localhost:3000
          timeout: 120000
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          record: true
        env:
          # pass the Dashboard record key as an environment variable
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          # pass GitHub token to allow accurately detecting a build vs a re-run build
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
